<main class="todo-list-ai-container">
  <mat-form-field class="model-selector">
    <mat-label>Select Model</mat-label>
    <mat-select [value]="selectedModel()"
                (selectionChange)="onModelChange($event.value)"
                [disabled]="!ready()">
      @for (model of models; track model.id) {
      <mat-option [value]="model.id">{{model.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>


  <!-- @if (!ready()) { -->
  <div class="progress-bar-container">
    <h5>Download Llm progress: </h5>
    <mat-progress-bar mode="determinate"
                      [value]="progress() * 100"></mat-progress-bar>
  </div>
  <!-- } -->

  <mat-list>
    @for (todo of todos(); track todo) {
    <mat-list-item>
      <div class="content">
        <mat-checkbox [checked]="todo.done"
                      (change)="toggleTodo(todo)"></mat-checkbox>

        <span>{{ todo.text }}</span>

        <button mat-icon-button
                (click)="deleteTodo(todo)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    }
  </mat-list>
  @if(reply()) {
  <mat-card class="reply-card">
    <mat-card-content>
      <pre>{{ reply() }}</pre>
    </mat-card-content>
  </mat-card>
  }
  <section class="prompt-container">
    <mat-form-field>
      <mat-label>{{ready()? 'Prompt': 'download model in progress...'}}</mat-label>
      <input matInput
             placeholder="Prompt"
             #prompt
             (keyup.enter)="runPrompt(prompt.value)"
             [disabled]="!ready()">
    </mat-form-field>

    <button mat-raised-button
            (click)="runPrompt(prompt.value)"
            [disabled]="!ready()">
      <mat-icon>send</mat-icon>
      Ask
    </button>
  </section>

  <button mat-fab
          (click)="addTodo()">
    <mat-icon>add</mat-icon>
  </button>

</main>