:host {
  display: block;
  height: 100%;
}

.todo-list-ai-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.progress-bar-container {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin: 16px;
}

.progress-bar-container h5 {
  white-space: nowrap;
  margin: 0;
}



[mat-fab] {
  position: fixed;
  bottom: 92px;
  right: 16px;
}

mat-list-item .content {
  display: flex;
  align-items: center;
}

mat-list-item .content span {
  flex: 1;
}

.model-selector {
  margin-inline: 16px;
  margin-top: 16px;
}

.reply-card {
  margin: 16px;
}

.reply-card pre {
  text-wrap: wrap;
  flex: 1;
  margin-inline: 16px;
}


.prompt-container {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-top: auto;
  margin-inline: 16px;
}

.prompt-container mat-form-field {
  flex: 1;
}


.info-accordion {
  margin: 16px;
}

.info-accordion mat-expansion-panel-header {
  height: 36px !important;
  font-size: 14px;
}

.info-content h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.info-content ul {
  padding-left: 20px;
}

.info-content li {
  margin-bottom: 8px;
}

.info-content code {
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}