.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  border-right: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.active {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}